/*body { overflow-x: hidden;}*/
a:hover {
  text-decoration: none;
}
/*======================================会员登录页面===========================================*/
.f-memberlogin-wp {
  width: 100%;
}
/*头部*/
.f-ml-header {
  width: 100%;
}
/*头部上边*/
.f-ml-hd-top {
  width: 100%;
  height: 33px;
  background-color: rgb(234, 234, 234);
}
.f-ml-hd-title {
  width: 1180px;
  height: 33px;
  font-size: 13px;
  margin: 0 auto;
}
/*所在城市*/
.f-ml-hd-city {
  width: 124px;
  height: 33px;
  color: #666666;
  line-height: 33px;
}
.f-icons-downarrow {
  background: url(../images/icons.png) no-repeat;
  width: 8px;
  height: 8px;
  background-position: 0 0;
  float: right;
  margin: 16px 19px 0 0px;
}
.f-ml-hd-ul {
  list-style: none;
  margin-left: 858px;
  line-height: 33px;
}
.f-ml-hd-ul li {
  float: left;
  margin: 0px 6px;
}
.f-ml-hd-ul li > a:hover {
  color: #d00;
}
/*头部下边*/
.f-ml-hd-bottom {
  width: 1180px;
  height: 131px;
  margin: 0 auto;
}
.f-ml-hd-logo {
  width: 330px;
  height: 80px;
  margin-top: 25px;
}
.f-ml-hd-text {
  width: 160px;
  height: 80px;
  color: #a0a0a0;
  font-size: 28px;
  font-weight: bold;
  line-height: 80px;
  padding-left: 30px;
  border-left: 1px solid #ccc;
  box-sizing: border-box;
}
/*头部样式结束*/

/*内容*/
.f-login-middle {
  width: 100%;
  background-color: rgb(34, 119, 223); /*display: none;*/
}
.f-ml-middle-wp {
  width: 1180px;
  height: 590px;
  margin: 0 auto;
  position: relative;
}
.f-ml-img2 {
  margin: 150px 0 0 124px;
}
/*图形验证码*/
.f-ml-alterdiv,
.f-ml-alternull {
  width: 130px;
  height: 50px;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  position: absolute;
  top: 220px;
  left: 610px;
  border-radius: 10px;
  text-align: center;
  display: none;
}
/*登录框*/
.f-ml-middle-right {
  width: 385px;
  height: 480px;
  background-color: #fff;
  margin-top: 40px;
}
.f-ml-right-title {
  width: 325px;
  height: 30px;
  margin: 0 auto 18px;
  margin-top: 30px;
}
.f-ml-font-logo {
  color: #a0a0a0;
  font-size: 28px;
  font-weight: 400;
  line-height: 33px;
}
.f-ml-right-a {
  color: rgb(34, 121, 223);
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}
.f-icons-my {
  background: url(../images/icons.png) no-repeat;
  width: 15px;
  height: 23px;
  background-position: -250px -24px;
  margin-left: 5px;
}
.f-icons-tele {
  background: url(../images/icons.png) no-repeat;
  width: 15px;
  height: 21px;
  background-position: -210px -400px;
  margin-top: -1px;
}

.f-ml-int1,
.f-ml-int2 {
  width: 325px;
  height: 37px;
  font-size: 10px;
}
.f-ml-int2 {
  margin-top: 29px;
}
/*验证码框*/
.f-ml-int1 > input {
  width: 28%;
  height: 100%;
}
.f-ml-int1 > a {
  color: rgb(242, 85, 0);
  font-size: 14px;
}
.f-ml-int1a {
  line-height: 37px;
}
.f-ml-int1 img {
  padding-right: 5px;
  margin: 3px 0 0 50px;
}
/*获取验证码*/
.f-ml-int2a {
  width: 100px;
  height: 27px;
  background-color: rgb(34, 119, 223);
  color: #fff;
  font-size: 15px;
  padding: 6px 15px;
  position: relative;
  top: -30px;
  left: 215px;
}

/*所有输入框*/
.f-ml-input1,
.f-ml-input2,
.f-ml-input3,
.f-ml-input4 {
  width: 325px;
  height: 37px;
  font-size: 10px;
  margin: 0 auto;
}
input {
  width: 99.5%;
  height: 100%;
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(201, 201, 201);
  font-size: 13px;
}
/*输入正确图标*/
.success,
.successpw {
  width: 15px;
  height: 18px;
}
.f-ml-input1,
.f-ml-input2 {
  position: relative;
}
.f-icons-on,
.f-icons-on2 {
  background: url(../images/icons.png) no-repeat;
  width: 15px;
  height: 18px;
  background-position: -252px -55px;
  position: absolute;
  top: 11px;
  right: 10px;
  display: none;
}
/*警告*/
.f-ml-warn {
  width: 325px;
  height: 18px;
  margin: 6px auto 5px;
}

.l {
  float: left;
  padding-left: 10px;
}
.f-ml-phone-warn,
.f-ml-pass-warn {
  width: 325px;
  height: 18px;
  color: #f00;
  font-weight: 500;
  display: none;
}
.f-icons-phone,
.f-icons-pass {
  background: url(../images/icons.png) no-repeat;
  width: 15px;
  height: 18px;
  background-position: -252px -90px;
  margin: -4px 4px 0 0;
}
/*验证码框*/
.f-ml-input3 > input {
  width: 28%;
  height: 100%;
}
.f-ml-input3 > a {
  color: rgb(242, 85, 0);
  font-size: 14px;
}
.f-ml-inp3a {
  line-height: 37px;
}
.f-ml-input3 img {
  padding-right: 5px;
  margin: 3px 0 0 50px;
}
/*忘记密码*/
.f-ml-input4 {
  margin-top: 18px;
}
.f-ml-input4 > input {
  width: 5%;
  height: 100%;
}
.f-ml-checkbox {
  font-size: 15px;
  color: #666666;
  font-weight: 500;
  margin: 8px 0 0 8px;
}
.f-ml-input4 > a {
  color: rgb(242, 85, 0);
  line-height: 37px;
  text-decoration: underline;
}
/*等录按钮*/
.f-ml-submit-button {
  width: 325px;
  height: 40px;
  margin: 18px auto 0;
}
.f-ml-btn {
  width: 120px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  background-color: rgb(34, 119, 223);
  border-radius: 5px;
  cursor: pointer; /*光标变为一只手*/
}
.f-ml-btn:nth-child(1) {
  background-color: rgb(219, 82, 0);
  margin-left: 21px;
}
.f-ml-btn:nth-child(2) {
  margin-left: 40px;
}
/*合作网站登录*/
.f-ml-end {
  width: 325px;
  height: 96px;
  margin: 10px auto 0;
}
.f-ml-end-son1 {
  width: 325px;
  height: 76px;
  margin-top: 30px;
  border-top: 1px dashed #ccc;
  box-sizing: border-box;
}
.f-ml-end-son2 {
  width: 120px;
  color: #666;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  margin: -86px auto;
}
.f-icons-weixin,
.f-icons-qq {
  text-align: center;
}
.f-icons-weixin {
  background: url(../images/icons.png) no-repeat;
  width: 40px;
  height: 40px;
  background-position: -160px -450px;
  display: inline-block;
  margin: 0px 0px 1px 107px;
}
.f-icons-qq {
  background: url(../images/icons.png) no-repeat;
  width: 40px;
  height: 40px;
  background-position: -160px -400px;
  display: inline-block;
  margin: 28px 0px 0px 32px;
}
